/* Variables */

:root{
    --font-roboto:"Roboto", sans-serif;
    --color-dark-1: #131316ff;
    --color-dark-2: #1c1c21ff;
    --color-dark-3: #26262cff;
    --color-dark-4: #2f3037ff;
    --color-dark-5: #393a41ff;
    --color-dark-6: #4b4c52ff;
    --color-dark-7: #5b5c62ff;
    --color-dark-8: #6a6b70ff;
    --color-dark-blue:#04043F;
    --color-light-blue:#E0F6FA;
    --color-light-grey:#f1f1f1;
    --color-mid-blue:#05bedf;
    --color-blue:#007ACC;
    --color-green:#00cc5c;
    --color-white:#ffffff;
    --color-black:#000000;
    --color-orange:#ff8800;
    --color-red:#E70013;
    --color-transparent:rgba(255,255,255,0);
    --color-flag-french:linear-gradient(90deg, rgba(0,4,36,1) 0%, rgba(255,255,255,1) 50%, rgba(255,0,0,1) 100%);;
}

/* Styling */
/* header */
header{
    position: relative;
}
div#navigation{
    
    position: sticky;
    top: 0;
    z-index: 100;
}
div#banner{
    background-color: var(--color-red);
    padding: 0 25vh 0 25vh;
    height: 16vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}
div#banner div.left a{
    height: 16vh;
}
div#banner img{
    height: 16vh;
}
div#banner div.right{
    display: flex;
    align-items: center;
    gap: 8vh;
}
div#banner div.right p.tus{
    height: min-content;
    text-align: center;
    font-size: 1.5em;
    font-weight: 700;
}
.languages{
    display: flex;
    flex-direction: column;
    align-items: center;
}
div#banner div.right a:visited,div#banner div.right a:link{
    height: fit-content;
    color: var(--color-white);
    padding: 0.1em;
    font-size: 1.2em;
    font-weight: 700;
    border-radius: 15px;
    cursor: pointer;
}
div#banner div.right a:hover{
    color: var(--color-dark-blue);
}
nav{
    justify-content: space-between;
	display: flex;
    width: 80%;
    padding: 0 10% 0 10%;
    align-items: center;
    height: 8vh;
    background-color: var(--color-white);
    padding-bottom: 2px;
    z-index: 100;
}
nav ul#nav-links{
    height: 100%;
    width: 100%;
	display: flex;
    justify-content: space-around;
    font-weight: 700;
    font-size: 1.5em;
}
nav ul#nav-links li{
    height: 100%;
    display: flex;
    align-items: center;
}
nav ul a:visited,nav ul a:link,.register-links{
    font-size: 16px;
    color: var(--color-dark-blue);
}
nav ul#nav-links a:hover,.register-links:hover{
    border-bottom: 4px solid var(--color-red);
    cursor: pointer;
}
nav ul#nav-links #current-page{
    color:var(--color-red);
    border-bottom: 4px solid var(--color-red);
}
nav ul#nav-links a,.register-links{
    height: 100%;
    display: flex;
    align-items: center;
}
div#hero{
    height: 76vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/Css/Images/Filler/hero-home.jpg");
    position: static;
}
div#hero h1{
    display: inline;
    position: absolute;
    top: 71%;
    left: 12%;
    z-index: 0;
}
h1.main-header{
    background-color: var(--color-dark-blue);
    color: var(--color-white);
    padding: 2px 16px;
    font-size: 3em;
    width: fit-content;
}
/* Sections */
div.section{
    padding: 3% 10% 3% 10%;
    color: var(--color-dark-blue);
}
div.section-white{
    background-color: var(--color-white);
}
div.section-blue{
    background-color: var(--color-light-blue);
}
div.section-countdown{
    background-color: var(--color-green);
    text-align: center;
}
.deadline{
    color: var(--color-white);
}
#countdown{
    color: var(--color-white);
}
/* Last section */

div.info{
    display: flex;
    padding: 0 8% 0 8%;
    gap: 10%;
}
div.info-text ul{
    list-style-type: disc; 
    margin-left: 20px; 
    padding-left: 0;

}
div.info-text ul li::marker{
    color: var(--color-red);
}
div.info-text ul li{
    margin: 2% 0 2% 0;
}
.text{
    font-size: 1.4em;
    color: var(--color-white);
}
button{
    margin-top: 10%;
}
img.info-image{
    width: 60%;
    margin-right: -10%;
}
/* Footer */
footer{
    background-color: var(--color-dark-blue);
    padding: 2% 10% 2% 10%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}
hr{
    margin: 0;
}
footer div.socials *{
    width: 50px;
    height: 50px;
    padding: 2px;
}
footer div.socials *:hover{
    width: 53px;
    height: 53px;
    padding: 0;
    cursor: pointer;
}
footer div.socials{
    text-align: center;
}
footer div.copyright{
    display: flex;
    align-items: center;
    gap: 5px;
    flex-direction: column;
}
footer div.copyright div{
    width: 20%;
}
footer a.contact{
    padding-right: 10%;
    border-right: 1px solid var(--color-white);
}
footer a.cookies{
    padding-left: 10%;
    border-left: 1px solid var(--color-white);
}
footer a {
    font-size: 1.3em;
}
footer a:link,footer a:visited{
    color: var(--color-white);
}
footer a:hover{
    color: var(--color-red);
    text-decoration-line: underline;
}
/* GENERAl */
body{
    font-family: var(--font-roboto);
    color: var(--color-white);
    background-color:var(--color-white);
}
q{
    line-height: 1.3;
    font-weight: 600;
}
em{
    font-style: italic;
    text-decoration: underline;
}
.bold {
    font-weight: bold;
}
p{
    line-height: 1.3;
    font-size: 1.2em;
}

h1 {
    font-size: 2.4em;
    line-height: 1.3;
    font-weight: 700;
}
h2 {
    font-size: 1.7em;
    line-height: 1.3;
    font-weight: 700;
    margin-bottom: 10px;
}

h3 {
    font-size: 1.17em;
    font-weight: 700;
    line-height: 1.3;
    margin: 10px 0;
}

h4 {
    font-size: 1em;
    line-height: 1.3;
    font-weight: 700;
}

h5 {
    font-size: 0.83em;
    font-weight: 700;
    line-height: 1.3;
}

h6 {
    font-size: 0.67em;
    font-weight: 700;
    line-height: 1.3;
}
/* Designs */
div.buttons{
    width: 64%;
    display: flex;
    flex-direction: column;
}
.button-design-1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    gap: 15px;
    background-color: #007ACC;
    outline: 3px #007ACC solid;
    outline-offset: -3px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: 400ms;
    margin-top: 4%;
}

.button-design-1 .text {
    color: var(--color-white);
    font-weight: 700;
    font-size: 1em;
    transition: 400ms;
}

.button-design-1:hover {
    background-color: transparent;
}

.button-design-1:hover .text {
    color: var(--color-blue);
}
.button-design-2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    gap: 15px;
    background-color: var(--color-green);
    outline: 3px var(--color-green) solid;
    outline-offset: -3px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: 400ms;
    margin-top: 2%;
}

.button-design-2 p.text {
    color: var(--color-white);
    font-weight: 700;
    transition: 400ms;
}

.button-design-2:hover {
    background-color: transparent;
}

.button-design-2:hover p.text {
    color: var(--color-green);
}

/* Dropdown Menu button */
.dropdown-hover:not(:hover) .dropdown-content {
    display: none;
}

.dropdown-hover .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-hover .dropdown-content a:hover {
    background-color: var(--color-white);
}

.dropdown-hover:hover .dropdown-content {
    display: block;
    position: absolute;
    background-color: var(--color-green);
    min-width: fit-content;
    z-index: 1;
    width: 180px;
    border-radius: 10px 0 10px 0px;
    margin-top: -43px;
    margin-left: 245px;
    outline: 3px var(--color-green) solid;
}

/* Dropdown Menu nav */
nav .dropdown-hover:not(:hover) .dropdown-content {
    display: none;
}

nav .dropdown-hover .dropdown-content a:link,nav .dropdown-hover .dropdown-content a:visited {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: var(--color-dark-blue);
    color: var(--color-white);
}

nav .dropdown-hover .dropdown-content a:hover {
    background-color: var(--color-light-grey);
    color: var(--color-dark-blue);
}

nav .dropdown-hover:hover .dropdown-content {
    display: block;
    position: absolute;
    min-width: fit-content;
    z-index: 1;
    width: fit-content;
    border-radius: 0;
    outline: 3px var(--color-white) solid;
    margin: 0;
    margin-top: 170px;
}
