div.description ul{
    list-style-type: disc;
    list-style-position: inside;
    padding: 1% 0 1% 0;
    padding-left: 20px;
} 
div.description p{
    display: inline;
    margin-bottom: 5px;
}
div.description ul li {
    padding: 1% 0 1% 0;
    margin-bottom: 8px;
    list-style-position: outside;
}
div.description{
    display: flex;
    justify-content: space-between;
    gap: 5%;
}
div.description img{
    width: 53%;
    height: 100%;
}
div.description>div{
    width: 80%;
}

/* Table */
table{
    width: 100%;
    border-spacing: 30px;
    border: 2px solid var(--color-dark-7);
}
td, th{
    border: 2px solid var(--color-dark-7);
    padding: 20px;
    margin: 5px;
    width: max-content;
    text-align: center;
}
th{
    font-size: 1.2em;
    font-weight: 800;
    background-color: var(--color-light-grey);
}
td{
    font-size: 1.1em;
    font-weight: 600;
}
td.white-cell{
    background-color: var(--color-white);
}